<div align="center">
  <div class="form-group">
    <h2>Register</h2>
    <label for="exampleInputEmail1">Username</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Username" [(ngModel)]="username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
  <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
  </div>
  <div>
      <label [routerLink]="['/home']"><strong>Click to Login</strong></label>
  </div>
  <button (keyup.enter)="Register()" (click)="Register()" class="btn btn-primary">Submit</button>
</div>